VYAPAAR_LLM_API_KEY=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

RAZORPAY_KEY_ID=rzp_test_TS3Hn4jUaiL6T7
RAZORPAY_KEY_SECRET=3hvv55VB9yd62yAq1w70uNIE
RAZORPAY_WEBHOOK_SECRET=3hd+AIEAse7SDqSTc0iv9+sRZFN2Z64Ug8k1XpUWNBs=

MERCHANT_API_KEY=3hd+AIEAse7SDqSTc0iv9+sRZFN2Z64Ug8k1XpUWNBs=

DATABASE_URL=sqlite:///./vyapaaros.db

NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_TS3Hn4jUaiL6T7
